<!DOCTYPE html>
<html>
<head>
  <!-- <% include ../partials/header.ejs %> -->
</head>

<body>

  <!-- <% include ../partials/nav.ejs %> -->

<div class="jumbotron text-center">

  <iframe src='https://webchat.botframework.com/embed/otonobots-demo-bot?s=eZ5THXyG268.o9BRYM2-GLXh_rcoIlRiDagA6pboeHAJy3DUpaEolsw'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
</div>


</body>
</html>
